.App {
  text-align: center;
}

.aut {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.Av-header {
  background-color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Av-content-head {
  margin-left: 17px;
}

.city {
  margin-left: 17px;
}

.city_ad {
  margin-top: 70px;
}
.Av-header-line {
  background-color: white;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.Av-header-line a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.Av-header-line a:hover {
  color: #1967d2;
}
.Av-logo {
  width: 25px;
  height: 25px;
  margin-left: 60px;
}
.Av-bell {
    width: 25px;
  height: 25px;
  margin-left: 40%;
  margin-top: 20%;
}
.Av-name {
  height: 25px;
  margin: 10px;
}

.ring{
  display: flex;
  flex-direction: column;
  margin-left: 50%;
}
.one {
  display: flex;
  flex-direction: row;
}

.one_bell {
  margin-top: 15px;
  margin-left: -10px;
  height: 20px;
  width: 20px;
  align-items: center;
  text-align: center;
  font-size: 11px;
  background-color: red;
  color: white;
  border-radius: 10px;
}
.line {
  color: rgb(240,240,240);
  width: 100%;
}

.Av-but-reg {
  height: 40px;
  width: 90px;
  background-color: white;
  border-radius: 7px;
  color: black;
  margin: 10px;
  font-size: 17px;
}

.Av-but-buy {
  height: 40px;
  width: 90px;
  background-color: blue;
  border-radius: 7px;
  color: white;
  font-size: 17px;
}
.city_region {
  position: absolute;
  right: 320px;
  top: 230px;
  height: 30px;
  width: 150px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.filter {
  background-color: white;

  height: 90%;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}

.filter select {
  background-color: white;
  margin: 10px;
  width: 30%;
  height: 40px;
  font-size: 15px;
}
.mark {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 120px;
}
.mark img {
  width: 50%;
  height: 50%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  align-items: center;
}
.ad {
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: white;
  border-radius: 10px;

  font-size: 14px;
  font-family: Ubuntu;
}
.close {
  border-radius: 10px;
  background: white;
  margin-left: 90%;
}
.price_byn {
  color: #1967d2;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Inter',sans-serif;
  margin: 10px;
  margin-left: 20%;

}
.vin {
  color: #4caf50;
  background: #4caf502e;
  border-radius: 7px;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1px;
}
.data_car {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 40%;
}
.data_car a {
  text-decoration: none;
  color: black;
}

.data_car a:hover {
  color: #1967d2;
}
.main {
  display: flex;
  flex-direction: row;
}
.img_main {
  width: 779px;
  height: 513px;
  border-radius: 10px;
  background-size: cover;
}
.img_ad {
  width: 220px;
  height: 165px;
  border-radius: 5px;
  margin: 20px;
  object-fit: cover;
}
.row {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

}
.img_min {
  width: 79px;
  height: 53px;
  border-radius: 5px;
  margin: 5px;
}
.img_car {
  width: 85%;
  height: 100%;
  border-radius: 10px;
}
.Av-content-body {
  background-color: #d5e4f35c;
  margin-left: 10px;
  display: grid;
  direction: initial;
  align-items: center;
}
.lin{
  display: flex;
  flex-direction: row;
}
.mark_sq {
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
  margin: 10px;
  margin-right: 30px;
}

.mark {
margin: 10px;
}
.App-link {
  color: #61dafb;
}

.car_param{
  display: flex;
  flex-direction: row;
  width: 300px;
}

.car_param_name {
  margin-right: 20px;
  text-align: left;
}

.button_phone {
  background: #1967d2;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  align-items: center;
  height: 41px;
  width: 70%;
}